@font-face {
    font-family: "Alsalam Light";
    src: url("/Fonts/Alsalam-Light.ttf");
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe.ttf");
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe Bold.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe Bold Italic.ttf");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Louis George Cafe";
    src: url("/Fonts/Louis George Cafe Light Italic.ttf");
    font-weight: lighter;
    font-style: italic
}