* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

@keyframes subList {
	0% {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	100% {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

:root {
	--old-yellow: #fac60b;
	--yellow: #dfc711;
	--yellow-hover: #ffda54;
	--old-blue: #002046;
	--blue: #193266;
	--nav-link-color: #eee;
	--nav-border-color: #c8c8c8;
	--nav-home-hover-color: var(--blue);
	--danger: #f54029;
	--danger-hover: #ff6e5b;
	--red-shade-1: #ff4d4d;
	--pink-shade-1: #E8999B;
	--blue-shade-1: #373dc7;
	--blue-shade-2: #7985E0;
	--green-shade-1: #30b351;
	--green-shade-2: #76CE86;
	--yellow-shade-1: #dcde3c;
	--soft-light-color-1: #FDF0D8;
	--soft-light-color-2: #D2FEC4;
	--soft-light-color-3: #D6E2FF;
}

body {
	font-family: 'Louis George Cafe', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #282828;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	color: #333;
	transition: all .25s ease;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
	line-height: 44px;
	height: 44px;
	padding: 0 30px;
	font-family: inherit;
	border: 0;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
	transition: all .15s ease-in-out;
	cursor: pointer;
}

input[type='submit'] {
	background-color: var(--yellow);
	color: var(--blue);
}

input[type='submit']:hover {
	background-color: var(--yellow-hover);
	color: #002d64;
}

input[type='button'],
input[type='reset'],
button {
	background-color: #cfcfcf;
	color: #282828;
}

input[type='button']:hover,
input[type='reset']:hover,
button:hover {
	background-color: #e2e2e2;
	color: #444;
}

input {
	outline: none;
}

input:active {
	box-shadow: inset 0 0 2px 1px var(--blue);
}

.button-danger {
	background-color: var(--danger) !important;
	color: #eee !important;
}

.button-danger:hover {
	background-color: var(--danger-hover) !important;
}

.btn-green {
	background-color: #13aa52 !important;
	border-color: #13aa52 !important;
	color: #f1f1f1 !important;
}

.btn-green:hover:not(:disabled) {
	background-color: #2bba67 !important;
	border-color: #2bba67 !important;
	color: #f1f1f1 !important;
}

.btn-green:disabled {
	background-color: #5ad78e !important;
	border-color: #5ad78e !important;
	color: #4aa36f !important;
}

.display-block {
	display: block;
}

.align-center {
	text-align: center;
}

.my-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-1 {
	margin-top: .25em !important;
	margin-bottom: .25em !important;
}

.my-2 {
	margin-top: .5em !important;
	margin-bottom: .5em !important;
}

.my-3 {
	margin-top: .75em !important;
	margin-bottom: .75em !important;
}

.my-4 {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.header .nav {
	padding: 0 200px;
	background-color: var(--blue);
	border-bottom: solid 4px var(--nav-border-color);
	height: 60px;
	line-height: 60px;
	box-sizing: unset;
}

.header .nav::after {
	content: '';
	display: block;
	clear: both;
}

.header .nav .logo {
	float: left;
	width: 150px;
	height: 60px;
}

.header .nav .logo .logo-link {
	font-weight: bolder;
	font-size: 2em;
	color: var(--yellow);
	line-height: 60px;
	display: block;
	text-transform: uppercase;
}

.header .nav>ul {
	margin-left: 150px;
}

.header .nav>ul::after {
	content: '';
	display: block;
	clear: both;
}

.header .nav>ul li {
	float: left;
	text-align: center;
	position: relative;
	margin-right: 10px;
}

.header .nav>ul li.right-item {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.header .nav li img.avatar {
	height: 44px;
	width: 44px;
	margin: 8px;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	background-color: var(--nav-border-color);
	border: solid 2px var(--yellow);
	overflow: hidden;
}

.header .nav li a {
	color: var(--nav-link-color);
	font-size: 1.3em;
	padding: 0 20px;
	transition: all .4s;
	line-height: 60px;
	display: block;
}

.header .nav>ul>li:hover>ul {
	display: block;
	visibility: visible;
	opacity: 1;
	animation: subList .3s ease-in-out forwards;
}

.header .nav li a:hover {
	font-weight: bold;
	color: var(--yellow);
}

.header .nav li a.home:hover {
	font-weight: bold;
	background-color: var(--yellow);
	color: var(--nav-home-hover-color);
}

.header .nav>ul li ul {
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: all .25s ease-in-out;
	position: absolute;
	top: calc(100% - 2px);
	left: 0;
	width: max-content;
	background-color: var(--blue);
	border-top: solid 2px var(--yellow);
	z-index: 1;
}

.header .nav>ul li ul li {
	float: unset;
	margin: 0 !important;
}

.header .nav>ul li ul li a {
	line-height: 44px;
	height: 44px;
	font-size: 1em;
}

.header .nav>ul li ul li a:hover {
	text-shadow: 0 0 8px var(--yellow);
}

.header .nav>ul li ul li i {
	margin-right: 3px;
}

.header .nav>ul li.right-item ul li {
	border-bottom: solid 2px var(--yellow);
	text-align: left;
}

.header .nav>ul li.right-item ul {
	left: unset;
	right: 0;
}

.nav-form button,
.nav-form button:hover {
	background: none;
	color: var(--danger);
	transition: all .25s ease-in-out;
	padding: 0 20px;
	text-align: left;
	display: block;
}

.nav-form button:hover {
	transform: translateX(5px);
}

.header .wall {
	position: relative;
	background-image: url("/Images/wall.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
}

.header .wall>div {
	padding: 100px 0 0;
	background-color: rgba(0, 0, 0, .5);
}

.header .wall h1 {
	font-size: 4.5em;
	padding: 10px 0 40px;
}

.header .wall p {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
	line-height: 120%;
}

.header .wall .wall-button {
	padding: 15px 25px;
	background: var(--yellow);
	color: #282828;
	border: 0;
	border-radius: 3px;
	margin: 30px auto 0;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: .9em;
	transition: all .15s ease-in-out;
	line-height: 100%;
	height: 18px;
	box-sizing: unset;
	display: block;
}

.header .wall .wall-button:hover {
	box-shadow: inset 0 0 0 3px var(--yellow);
	background-color: #ffffff;
	padding: 15px 34px;
	line-height: 80%;
	transform: scale(1.05, .9);
}

.header .wall .tiles {
	width: 1200px;
	max-width: 100%;
	margin: 40px auto 0;
	columns: 3;
	column-gap: 4px;
}

.header .wall .tile {
	padding: 15px 0;
	background-color: rgb(0, 32, 70, .6);
}

.header .wall .tile i {
	font-size: 2em;
	line-height: 2em;
}

.header .wall .tile h3 {
	font-size: 1.5em;
	line-height: 120%;
}

.header .wall .tile p {
	font-weight: normal;
}

.boxes {
	padding: 50px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.boxes .box {
	width: 33.33%;
	padding: 10px;
}

.boxes .box .inner-box {
	display: block;
}

.boxes .box .inner-box .thumbnail {
	position: relative;
	height: 200px;
	width: 100%;
}

.boxes .box .inner-box .thumbnail img {
	height: 100%;
	width: 100%;
}

.boxes .box .inner-box .thumbnail .thumbnail-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
	height: 100%;
	width: 100%;
	display: none;
}

.boxes .box .inner-box .thumbnail .thumbnail-overlay .thumbnail-overlay-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 25px;
	background: var(--blue);
	color: #fff;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: .9em;
	transition: all .15s ease-in-out;
	line-height: 100%;
	height: 18px;
	box-sizing: unset;
	display: block;
}

.boxes .box .inner-box .thumbnail .thumbnail-overlay .thumbnail-overlay-button:hover {
	color: var(--blue);
	background-color: #eee;
	box-shadow: inset 0 0 0 3px var(--blue);
}

.boxes .box .inner-box h3 {
	text-align: center;
	padding: 10px 0;
	font-size: 1.5em;
}

.boxes .box .inner-box p {
	text-align: center;
	padding: 0 0 10px;
}

.title-on-border {
	padding: 50px 80px;
}

.title-on-border .title-border {
	position: relative;
	height: 60px;
}

.title-on-border .title-border::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 1px;
	width: 100%;
	border-radius: 50%;
	background: #888;
}

.title-on-border .title-border .title-text {
	position: absolute;
	top: 0;
	left: 50%;
	height: 60px;
	line-height: 60px;
	transform: translateX(-50%);
	padding: 0 10px;
	background: #fff;
	font-size: 1.5em;
	font-weight: bold;
}

.about-us {
	padding: 50px 80px;
	display: flex;
}

.about-us .about-us-sidebar {
	width: 200px;
}

.about-us .avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.about-us .name {
	text-align: center;
	padding: 10px 0;
	font-size: 1.3em;
	font-weight: bold;
	width: 200px;
}

.about-us .short-story {

	flex-grow: 1;
}

.about-us .short-story p {
	font-size: 1.3em;
	padding: 30px 20px;
	text-indent: 25px;
	line-height: 1.5em;
}

footer {
	padding: 50px 80px;
	background-color: #ddd;
	color: #333;
}

footer .footer-dummy {
	text-align: center;
}

footer .footer-dummy a {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	text-decoration-color: inherit;
}

.login {
	padding: 50px 80px;
}

.login h1 {
	text-align: center;
	font-size: 3em;
	padding: 10px 0;
	color: var(--yellow);
}

.login form {
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	padding: 50px;
	background-color: var(--blue);
}

.input-group {
	background-color: var(--yellow);
	width: 100%;
	line-height: 40px;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
}

.input-group .label {
	display: block;
	float: left;
	padding: 0 10px;
	white-space: nowrap;
}

.input-group label {
	display: block;
	float: left;
	padding: 0 10px;
	white-space: nowrap;
	text-align: center;
}

.input-group label.icon {
	padding: 0;
	width: 40px;
	overflow: hidden;
}

.input-group input {
	line-height: 40px;
	border: 0;
	text-indent: 8px;
	padding: 0 3px;
	display: block;
	float: left;
	height: 40px;
	flex: 1;
}

.two-in-a-row {
	display: flex;
	flex-wrap: wrap;
}

.two-in-a-row>.row:first-child {
	width: 50%;
	padding: 10px 10px 10px 0;
}

.two-in-a-row>.row:last-child {
	width: 50%;
	padding: 10px 0 10px 10px;
}

.dashboard {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.dashboard .dashboard-sidebar {
	width: 250px;
	max-width: 30%;
	text-align: center;
	padding: 30px;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link {
	font-size: 1.15em;
	line-height: 1.25em;
	display: block;
	text-align: left;
	padding: 15px 5px;
	position: relative;
	font-weight: bold;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link .link-icon {
	display: inline-block;
	margin-right: 10px;
	color: #aaa;
	width: 30px;
	text-align: center;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link .indicator {
	opacity: 0;
	position: absolute;
	top: 15px;
	right: 0;
	height: 1.25em;
	width: 1.25em;
	line-height: 1.25em;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link .indicator i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: inherit;
	font-size: .5em;
	text-align: center;
	transition: all .2s ease-in-out;
	color: #fff;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link:hover {
	background-color: #333;
	color: #fff !important;
	border-radius: 4px;
}

.dashboard .dashboard-sidebar .sidebar-menu .sidebar-link:hover .indicator {
	opacity: 1;
}

.dashboard-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.dashboard .dashboard-content {
	padding: 20px;
	flex: 1 0;
	width: 100%;
}

.dashboard .dashboard-content .content-title {
	font-size: 3.5em;
	font-weight: normal;
	padding-bottom: 15px;
}

.dashboard .dashboard-content .content-description {
	font-size: 1.4em;
	color: #555;
}

.dashboard .dashboard-content .content-thumbnail {
	display: block;
	margin: 20px auto;
	border-radius: 4px;
	width: 500px;
	padding: 3px;
	background: var(--yellow);
}

.dashboard .dashboard-content .pdf-download-button {
	text-align: center;
}

.dashboard .dashboard-content .pdf-download-button a {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #CE273A;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
}

.dashboard .dashboard-content .pdf-download-button a:hover {
	background-color: #228f1a;
}

.dashboard .dashboard-content .pdf-download-button a:hover i::before {
	content: "\f0ed";
}

.dashboard .dashboard-content .pdf-download-button a:hover i {
	content: "\f0ed";
	font-weight: 900;
}

.dashboard .courses,
.dashboard .tests {
	background-color: #fff;
	padding: 20px 50px;
}

.dashboard .elements-cards {
	display: flex;
	flex-wrap: wrap;
}

.dashboard .elements-cards .element-card {
	padding: 5px;
	width: 33.33%;
}

.dashboard .elements-cards .element-card .element-card-thumbnail {
	height: 200px;
	position: relative;
	/* box-shadow: 0 0 30px -5px rgba(0, 0, 0, .8); */
}

.dashboard .elements-cards .element-card .element-card-thumbnail img {
	width: 100%;
	height: 100%;
}

.dashboard .elements-cards .element-card .element-card-body {
	transition: all .3s ease-in-out;
	display: block;
	background-color: #fff;
	width: 100%;
	padding: 10px 15px 15px;
	border-radius: 3px;
	margin-top: 10px;
	box-shadow: inset 0 0 0 1.5px rgba(200, 200, 200, .3), 0 0 15px -5px rgba(0, 0, 0, .2);
}

.dashboard .elements-cards .element-card .element-card-body:hover {
	transform: scale(1.06);
}

.dashboard .elements-cards .element-card .element-card-body .element-card-title {
	padding: 8px 0;
	color: #444;
}

.dashboard-boxes .box {
	padding: 10px;
	width: 25%;
	transition: all .25s ease;
}

.dashboard-boxes .box:hover {
	transform: scale(1.03);
}

.dashboard-boxes .box-body {
	padding: 20px;
	background: #fff;
	color: #333;
	box-shadow: 0 0 18px -5px rgba(0, 0, 0, .6);
}

.dashboard-boxes .box .box-icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
}

.dashboard-boxes .box .box-icon i {
	display: block;
	font-size: 2.6em;
}

.dashboard-boxes .box:nth-child(1) .box-icon i {
	color: var(--red-shade-1);
}

.dashboard-boxes .box:nth-child(2) .box-icon i {
	color: var(--blue-shade-1);
}

.dashboard-boxes .box:nth-child(3) .box-icon i {
	color: var(--green-shade-1);
}

.dashboard-boxes .box:nth-child(4) .box-icon i {
	color: var(--pink-shade-1);
}

.dashboard-boxes .box:nth-child(5) .box-icon i {
	color: var(--green-shade-2);
}

.dashboard-boxes .box:nth-child(6) .box-icon i {
	color: var(--blue-shade-2);
}

.dashboard-boxes .box:nth-child(7) .box-icon i {
	color: var(--yellow-shade-1);
}

.dashboard-boxes .box .box-title {
	font-weight: bold;
	font-size: 1.6em;
}

.dashboard-boxes .box .box-description {
	font-size: 1.3em;
	line-height: 2em;
}

.pdf-viewer-buttons {
	text-align: center;
}

#pdf-viewer {
	width: 500px;
	margin: 15px auto;
	max-width: 100%;
	transition: all .25s ease-in-out;
	background-color: #CE273A;
	padding: 5px;
	border-radius: 5px;
}

#pdf-viewer:empty {
	width: 500px;
	height: 150px;
	position: relative;
}

#pdf-viewer:empty:after {
	content: 'PDF VIEWER';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	line-height: 150px;
	text-align: center;
	font-size: 2em;
}

#pdf-viewer canvas {
	display: block;
}

.questions .question {
	padding: 15px;
	border-bottom: dashed 2px #EEE;
}

.questions .question:last-child {
	border-bottom: none;
}

.questions .question .statement {
	font-size: 1.5em;
	padding: 10px 0;
}

.questions .question .options .option {
	margin: 8px 0;
	padding-left: 15px;
}

.questions .question .options .option label {
	font-size: 1em;
	padding: 10px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	transition: all .15s ease-in-out;
	position: relative;
}

.questions .question .options .option input {
	display: none;
}

.questions .question .options .option input:checked+label {
	box-shadow: inset 0 0 0 3px #f29952;
}

.questions .question .options .option label:hover {
	background-color: #ffdac0;
}

.questions .question .options .option label.correct:after {
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	width: 3px;
	background-color: #13aa52;
}

.questions .question .options .option label.answer:before {
	content: '';
	position: absolute;
	top: 0;
	right: calc(100% + 3px);
	height: 100%;
	width: 3px;
	background-color: #dcde3c;
}

.questions .submit-test {
	padding: 20px 0;
	text-align: center;
}

.tests .score {
	color: #235a23;
	font-weight: bold;
	padding: 10px 0;
	font-size: 1.5em;
}


/* Desktops, large screens */
@media screen and (max-width: 1200px) {}

/* Small screens, laptops */
@media screen and (max-width: 1024px) {}

/* iPads, Tablets */
@media screen and (max-width: 768px) {}

/* Mobile Device */
@media screen and (max-width: 480px) {}